### folders

node_modules
scripts
test
media
lib
dist/test
.idea
.vscode

### matching

*.log
*.txt
*.DS_Store
*.md
*.yaml
*.yml
*.json

### files

!assets/schema/bunion.conf.json

### dotfiles
.bunion.js

