### folders

node_modules
scripts
test
media
lib
dist/test
.idea
.vscode

### matching

*.log
*.txt
*.DS_Store
*.md

### files

tsconfig.json
!assets/schema/bunion.conf.json

### dotfiles

.nlu.json
.travis.yml
.bunion.js

